

<%= simple_format @content.body %>

<h2>Highly related Reviews</h2>
<%= render partial: "review", collection: @highly_related_reviews %>


<h2>Bien Featured Reviews</h2>
<%= render partial: "review", collection: @featured_reviews %>
